#name {
    font-family: monospace;
    font-size: 60px;
    text-emphasis: underline;
    color: olive;
    opacity: 0.5
}

.about {
    font-family: cursive;
}

h1 {
    color: Brown;
}

h3 {
    color: Darkblue;
}

li:hover {
    color: blue;
}

h4.about {
    color: Orange;
}

body {
    background-color: #abcdef;
    /* Replace with your desired background color */
}