#name {
    font-family: monospace;
    font-size: 60px;
    text-emphasis: underline;
    color: olive;
    opacity: 0.5
}

.about {
    font-family: cursive;
}

h1 {
    color: Brown;
}

h3 {
    color: Darkblue;
}