{% block main %}
    <h2>Portpolio</h2>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stock %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.shares }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" align="right">Cash</td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td colspan="4" align="right">t=Total Value</td>
                <td>{{ total_value }}</td>
            </tr>
        </tbody>
    </table>